In [13]:
# EVEN AND ODD
num = int(input(" Enter any number : "))
if num % 2 == 0:
    print("Number is Even")
else:
    print("Number is Odd")

 Enter any number : 24
Number is Even

In [28]:
#PALINDROME SERIES WITH BOOLEAN
string = input("Enter any string :")
rev_string = string[::-1]
if string == rev_string:
    print(True)
else:
    print(False)

Enter any string :kanak
True

In [29]:
#STRING REVERSING
string = input("Enter any string :")
rev_string = string[::-1]
print(f"The reversed string is : {rev_string}")

#without any built-in function

Enter any string :KANAK
The reversed string is : KANAK

In [13]:
#COUNTING VOWELS IN A WORD
word = input(" Enter any word:")
vowel = ["a","e","i","o","u"]
count = 0
for character in word:
    if character in vowel:
        count +=1
print(count)

 Enter any word:payal
2

In [3]:
#CONVERTING STRING INTO DECIMALS
string = "24275"
print(type(string))
decimal_number = float(string)
print(decimal_number)
type(decimal_number)

<class 'str'>
24275.0

float

In [15]:
#COUNTING CONSONANTS IN A GIVEN WORD
word = input("Enter any word-")
vowel = ["a","e","i","o","u"]
count = 0
for character in word:
    if character not in vowel:
        count += 1
print(count)

Enter any word-payal
3

In [30]:
#COUNTING NO. OF OCCURENCES OF A CHARACTER IN A STRING
string = input('Enter the string - ')
i = input("Enter the character to find: ")
count = 0
for character in string:
    if character == i:
        count +=1
print(count)

Enter the string -payal lakra
Enter the character to find: a
4

In [51]:
#FIND THE MAXIMUM NUMBER IN A LIST AND SECOND MAXIMUM NUMBER
list1 = [13,53,234,643,12]
max_number = max(list1)
print(max_number)


a = [4, 2, 4, 2, 1, 6, 7, 78, 3, 2, 8, 0, 10]
def sol(x):
    x = sorted(x)  # Sort the input list
    lar = x[-1]  # Get the largest element
    lar2 = x[-2]  # Get the second largest element
    return lar, lar2  # Return both largest elements
lar, lar2 = sol(a)
print("First maximum:", lar)
print("Second maximum:", lar2)

643
First maximum: 78
Second maximum: 10

In [43]:
#FIND THE MINIMUM NUMBER IN A LIST
list1 = [1,3,4,68,5,334]
min_number = min(list1)
print(min_number)


input_string = input("Enter list of numbers separated by spaces: ")
list2 = [int(num) for num in input_string.split()]
min_number2 = min(list2)
print("The minimum number in the list is:", min_number2)

1
Enter list of numbers separated by spaces: 12 44 122 56 4
The minimum number in the list is: 4

In [34]:
#CONVERTING LIST INTO STRING
list1 = [1,2,3,4,5]
string1 = [str(element)for element in list1]
print(string1)

['1', '2', '3', '4', '5']

In [5]:
#ADDING TWO LIST ELEMENTS TOGETHER
list1 = [1,2,3,4,5]
list2 = [6,7,8,9,10]
result = [x + y for x , y in zip(list1,list2) ]
print(result)

[7, 9, 11, 13, 15]

In [8]:
#COUNTING WHITE SPACES IN A STRING
string = input("Enter the string - ")
count = 0
i = " "
for character in string:
    if character.isspace():              #isspace() function is used to count the white space in python
    #if character == i:
        count +=1
print(count)

Enter the string - my name is payal
3

In [35]:
#COUNTING DIGITS,LETTERS,SPACES,SPECIAL CHARACTERS IN A STRING
text = input("Enter the text string :")

num_letters = 0
num_spaces = 0
num_specialcharacters = 0
num_digits = 0
for character in text:
    if character.isalpha():
        num_letters += 1
    elif character.isdigit():
        num_digits += 1
    elif character.isspace():
        num_spaces += 1
    else:
        num_specialcharacters += 1
        
print("Letters:", num_letters)
print("Digits:", num_digits)
print("Spaces:", num_spaces)
print("Special characters:", num_specialcharacters)

Enter the text string :my name 89dm 5$#@ndieo ldfp
Letters: 17
Digits: 3
Spaces: 4
Special characters: 3

In [52]:
#REMOVING ALL WHITE SPACE FROM A STRING
def remove_whitespace(string):
    return string.replace(" " , "").replace("\t" , "").replace("\n" , "")

string = input("Enter any string :")
result = remove_whitespace(string)
print('Result after removing whitespaces ' , result)

Enter any string :my name is payal lakra
Result after removing whitespaces  mynameispayallakra

In [56]:
#BUILDING A PYRAMID
def pyfunc(r):
    for x in range(r):
        print(' '*(r-x-1)+'#'*(2*x+1))    
pyfunc(5)

    #
   ###
  #####
 #######
#########

In [32]:
#RANDOMIZING THE ITEMS OF A LIST
import random
listp = [1,2,3,4,5]
random.shuffle(listp)
print(f"The Randomized List is: {listp}")

The Randomized List is: [5, 1, 3, 2, 4]

In [12]:
#REVERSE A NUMBER
number = int(input("Enter a number :"))
rev_number = int(str(number)[::-1])#int slicing not possible.so 1st we convert it into string then do slicing then again convert it into int.
print(rev_number)

Enter a number :12345
54321

In [68]:
#PRIME NUMBER OR NOT
num = int(input("Enter number: "))

if num <= 1:
    print("Re-enter number.")
else:
    prime = True
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            prime = False
            break

    if prime:
        print("Number is prime")
    else:
        print("Number is not prime")

Enter number: 24
Number is not prime

In [63]:
#WRITING FIBONACCI SERIES
num_terms = int(input("Enter no. of terms :"))

fib_Series = [0,1]
while len(fib_Series) < num_terms:
    next_num = fib_Series[-1] + fib_Series[-2]
    fib_Series.append(next_num)
print(fib_Series)

Enter no. of terms :4
[0, 1, 1, 2]

In [14]:
#COUNT THE ELEMENTS IN A LIST
list1 = [1,2,3,4,5]
count = len(list1)
print(count)

5

In [36]:
#FIND THE MIDDLE ELEMENT IN A LIST
list1 = [1,2,3,4,5,6,7]
count = len(list1)
mid_index = count // 2
mid_element = list1[mid_index]
print(mid_element)

4

In [53]:
#ALL DATA TYPES
list1 = [1,2,3,4,5,3]
tuple1 = (1,2,3,4,5,3)
dict1 = {"id":"1" , "name" : "payal" , "age" : "22"}
set1 = {1,2,3,5,6,3}    #only unique entries
string = "I am a Girl"
print(list1)
print(tuple1)
print(set1)
print(dict1)
print(string)

[1, 2, 3, 4, 5, 3]
(1, 2, 3, 4, 5, 3)
{1, 2, 3, 5, 6}
{'id': '1', 'name': 'payal', 'age': '22'}
I am a Girl

In [72]:
#MERGE 2 SORTED ARRAYS
def merge_sorted_arrays(arr1, arr2):
    return sorted(arr1 + arr2)
arr1 = [1, 3, 5, 7, 9]
arr2 = [2, 4, 6, 8, 10]
merged_array = merge_sorted_arrays(arr1, arr2)
print("Merged array:", merged_array)

Merged array: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [71]:
#FIND DUPLICATE ELEMENTS IN A LIST & REMOVE THEM
my_list = [1,4,5,2,4,2,4,6,1]
my_set = set(my_list)
print(my_set)      #set removes the duplicate items

{1, 2, 4, 5, 6}

In [70]:
#SORT LIST IN ASCENDING ORDER
list1 = [3,57,1223,86,4,23,67]
sorted_list = sorted(list1)  #using sorted function
print(sorted_list)

[3, 4, 23, 57, 67, 86, 1223]